<a href="http://drupal9.localhost/access/pass/{{content.id}}">Выдать доступ к паролю</a></br>

Название: {{ content.name }}<br>
Логин: {{ content.login }}<br>
Пароль: {{ content.password }}<br>
Ссылка: {{ content.url }}<br>
Описание: {{ content.description }}<br>

<img src={{content.icon}}>
